In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('data.csv', sep=';')
df

,Class,Output,Input1,Input2,Input3,Input4,Input5,Input6,Input7,Input8,...,Input391,Input392,Input393,Input394,Input395,Input396,Input397,Input398,Input399,Input400
0,0,0.800586,-0.002583,2.184037,-0.322008,1.621241,1.192444,-0.278356,-0.207366,0.735689,...,-2.140861,1.187660,0.345238,-0.844885,0.580007,-2.605781,-0.299471,0.711487,-0.753316,0.728763
1,0,2.168475,0.668637,1.373933,-0.476868,-0.724704,0.031162,-1.845921,0.784890,1.508526,...,-1.286120,-0.900044,-0.500399,-0.126421,-0.632233,-2.557419,0.056044,0.634774,-0.259835,0.106390
2,1,-1.210777,-0.681438,-0.544753,0.441346,-0.019906,-0.192135,-0.162510,-0.998777,0.686472,...,-0.391605,-0.190147,0.793746,-0.812737,-0.068228,-0.313143,2.564096,0.848355,0.180556,-1.525615
3,1,0.505678,-0.497957,0.720712,0.149120,0.019251,1.377850,0.981337,-0.846813,0.036790,...,-0.176734,-0.947351,-0.888601,1.509450,-0.501929,-0.554909,-0.104051,0.442150,-0.056644,1.447267
4,1,-10.281033,-1.178544,0.176941,1.112202,1.234189,0.999451,-0.773329,-0.811075,1.550537,...,-0.181325,0.198960,-0.697497,-0.836371,1.652071,0.974292,1.584071,-0.202352,1.362426,1.023857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1,-4.298039,-0.893128,2.081556,0.796121,0.436108,-0.849635,1.129482,1.432813,-0.438694,...,-0.474294,0.039143,1.808243,-0.034847,-1.314878,-1.235939,1.010456,-2.186403,-0.157829,0.738539
1996,1,-0.431692,0.048336,0.770285,-0.354350,-1.557706,-0.182954,-0.665730,0.322526,0.658221,...,1.087032,0.095401,0.301200,1.776995,-2.045261,-1.931008,-0.683551,0.000835,-0.671151,-0.945843
1997,1,-0.056681,1.404051,-0.061405,0.180448,-0.362992,0.826353,-0.066654,0.987946,-1.266302,...,1.011431,0.458901,-0.220498,0.004950,-1.928972,-1.574129,1.421012,-0.736559,-0.540174,-1.182067
1998,0,-0.983396,-0.474238,-1.288631,-0.326170,-0.275383,-0.315331,-1.225622,-0.656750,0.777151,...,-1.146012,-0.031477,-2.461869,1.037240,0.366076,-0.541171,-0.126733,-0.265069,-0.080381,0.166985
1999,0,-3.057179,1.535949,0.644094,-1.287768,-0.191350,0.167755,-0.534574,0.220055,-0.501486,...,-1.201860,0.409375,-0.440580,1.040116,0.429276,-0.875186,-0.889635,0.315779,1.698054,0.903791

In [5]:
# Data exploration
print("Dataset shape:", df.shape)
print("\nTarget variable statistics:")
print(df['Output'].describe())
print("\nMissing values:")
print(df.isnull().sum().sum())

# Separate features and target
X = df.drop(['Class', 'Output'], axis=1)  # Use all Input variables as predictors
y = df['Output']  # Target variable

print(f"\nFeatures shape: {X.shape}")
print(f"Target shape: {y.shape}")
print(f"Number of predictor variables: {X.shape[1]}")

Dataset shape: (2000, 402)

Target variable statistics:
count    2000.000000
mean        0.106647
std         3.562855
min       -12.384019
25%        -2.310265
50%         0.140658
75%         2.435991
max        11.676146
Name: Output, dtype: float64

Missing values:
0

Features shape: (2000, 400)
Target shape: (2000,)
Number of predictor variables: 400